<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="/webjars/bootstrap/5.2.3/dist/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/3.6.1/dist/jquery.min.js"></script>
    <link rel="stylesheet"
          href="/webjars/bootstrap/5.2.3/dist/css/bootstrap.min.css" />
    <title>Recipe Index Page</title>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card bg-primary">

                <div class="card-header">
                    <h1 class="card-title text-light">My Recipes!</h1>
                </div>
                <div class="card-body bg-light">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td th:text="${recipe.id}">123</td>
                                <td th:text="${recipe.description}">Tasty Goodnees 1</td>
                            </tr>
                            <tr th:remove="all">
                                <td th:text="${recipe.id}">12333</td>
                                <td th:text="${recipe.description}">Tasty Goodnees 2</td>
                            </tr>
                            <tr th:each="recipe : ${recipes}">
                                <td th:text="${recipe.id}">334</td>
                                <td th:text="${recipe.description}">Tasty Goodnees 3</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>